html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

footer{
    background-color: black;
    padding: 30px;
    color: white;
}

#topMenu{
    display: flex;
    background-color: #302f2f;
    margin: 0;
}

#topMenu li{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
}

#topMenu li:first-child{
    margin-right: auto;
}

.section1{
    display: flex;
    height: 100vh;
    background-color: #22d271;
}

.centralize{
    margin: auto;
    text-align: center;
}

.imagemProjeto{
    width: 15vw;
    height: 15vw;
    padding-left: 15px;
}

.section2{
    display: flex;
    height: 33vh;
    background-color: white;

}

.section3{
    display: flex;
    height: 33vh;
    background-color: #e5e6ea;
    
}
.botaoVermelho{
    background-color: #c64e63;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-family: 'Fjalla One', sans-serif;
}